html, body {
  margin: 10px;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F5EDE6;
}

.container {
  width: 100%;
  max-width: 1020px;
  padding: 20px;
  box-sizing: border-box;
  border: 4px solid #BAA99B;
  border-radius: 20px;
  background-color: #F5EDE6;
}

button {
  font-family: Century Gothic, sans-serif;
  color: #615245;
  margin-top: 15px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  background: #E8DCD1;
  border: 2px solid #BAA99B;
  border-radius: 10px;
}

h1 {
  font-family: Century Gothic, sans-serif;
  color: #615245;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5px;
}

h2 {
  font-family: Calibri, sans-serif;
  font-size: 24px;
  margin-top: 5px;
  color: #453930;
}

p {
  font-size: 18px;
  color: #F7EFE9;
  background-color: #948375;
  border-radius: 10px;
  padding: 10px;
}

.definition-box {
  background-color: #948375;
  color: #F7EFE9;
  border-radius: 12px;
  padding: 15px;
  margin-top: 15px;
}

.definition-box h3 {
  margin-top: 0;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
}

.definition-box ul {
  margin: 0;
  padding-left: 20px;
}

.definition-box li {
  margin-bottom: 10px;
}

.definition-box em {
  display: block;
  opacity: 0.9;
  margin-top: 5px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
